html,
body {
	margin: 0;
	padding: 0;
	background-color: gray;
}

div {
	background-color:black;
	border: white 3px solid;
	padding: 20px;
	margin: 10px auto;
	color:white;
	text-align:center;
	font-size:20px;
	width:1000px;
}

button {
  color: black;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  background-color: white;
/* 	font-family: Ariel; */
	width: 25%;
	margin: 20px auto;
}

button:hover {
  background-color: darkgray;
  color: gray;
}

div.prey,.predators{
	width: 600px;
	margin: auto;
}

div.preySpecies,.predatorSpecies {
	background-color:white;	
	color:black;	
	border:gray 3px solid;
	width: 500px;
	margin: auto;
}

#sideMenu {
	margin: 0;
	width: 400px;
	height:94%;
	border:none;
	float:right;
}

#pauseButton {
	width: 35%;
	background-color:black;
	border:none;
	margin: auto;
}
